.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
 
#Experience {
  display:flex;
  border: 2px solid aqua;
  float: left;
  padding: 5px;
}

#Connect {
  display:flex;
  border: 2px solid aqua;
  float: left;
  padding: 5px;
}

.btn {
  text-align: center;
  color: white;
  background-color: lightgreen;
  border: 1px solid black;
  text-decoration: none;
  padding: 5px;
}

aside {
  font-family: italic;
  background-color: dodgerblue;
  color: white;
}

body {
  background-color: gray;
  font-family: roboto black;
  margin: 0;
}

h1 {
  font-family: cursive;
  color: lightblue;
  padding: 25px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: lightblue;
  padding: 25px;
  font-weight: bold;
}

p {
  font-size: 25px;
  font-family: bold;
  padding: 25px;
}

ul {
  list-style-type: none;
  color: green;
  text-align: center;
}

li {
  list-style-type: none;
  color: green;
  text-align: left;
  padding: 15px;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-align: left;
}

a:active {
  text-decoration: underline;
  text-align: left;
}

@media(max-width: 1250px){
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  aside {
   float: left;
   margin: auto;
  }
  header {
    text-align: center;
    padding: 12px;
  }
}

@media(max-width: 1000px){
  body {
    background-color: black;
    font-family: italic;
  }
  p {
    color: white;
    font-family: bold;
    padding: 25px;
  }
  h1 {
    text-align: left;
    color: white;
    font-family: cursive;
    padding: 25px;
    font-weight: light;
  }
}
