#Experience {
  width: 500px;
  display:flex;
}

#Connect {
  width: 500px;
  display:flex;
}

.btn {
  color: white;
  background-color: lightgreen;
  border: 5px solid black;
  text-decoration: none;
  padding: 5px;
}

body {
  background-color: gray;
  font-family: roboto black;
  margin: 0;
}

h1 {
  font-family: cursive;
  color: lightblue;
  padding: 25px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: lightblue;
  padding: 25px;
  font-weight: bold;
}

p {
  font-size: 25px;
  font-family: bold;
  padding: 25px;
}

ul {
  list-style-type: none;
  color: green;
  text-align: center;
}

a:link {
 color: red;
 text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
